---
layout: default
title: Главная
tag: home
---

<style>.bs-social {display:block;}</style>

<h1>Добро пожаловать.</h1>
<h3>Вас приветствует Стас Schefer из г. Екатеринбурга</h3>
<p>Я занимаюсь конструированием и пошивом спортивной одежды. При заказе может идти речь в основном о пошиве моих собственных моделей одежды по Вашим размерам.</p>
<p>Я изготавливаю одежду на современном оборудовании из высокотехнологичных материалов (<a target="_blank" href="http://www.polartec.ru/?id=4">Polartec</a>, <a target="_blank" href="http://gaba.su/Pages/Publication_230.html/?id=4">мембранные ткани</a>, <a target="_blank" href="http://otvet.mail.ru/answer/10221085">Холлофайбер</a>, <a target="_blank" href="http://bigwall.ru/info/items/materials/softshel_softshell/">Softshell</a> и т.п.) C удовольствием возьмусь изготовить что-то в неизвестной для меня теме, виде спорта и отдыха. Есть возможность проклейки основных швов изделия специальной лентой для придания им водонепроницаемых свойств. В изделиях, предназначенных для влажной погоды используются водонепроницаемые молнии. Ссылки на фото дают лишь общее представление об изделиях, поскольку ассортимент тканей постоянно обновляется и повторить изделие в одной расцветке не всегда получается.</p>
<p><b>Порядок оформления заказа</b>: позвонить по тел. <span style="color:red">+7 922 14 226 14</span>, чтобы договориться о времени встречи для снятия мерок и резервирования материалов.</p>
<p>Ассортимент и цены на готовые изделия можно посмотреть в моей <a href="https://vk.com/sportschef" target="_blank">группе в Контакте</a>.</p>
<p>Цену куртки, штанов, белья с учётом размера и других факторов вы можете рассчитать самостоятельно во вкладке "калькулятор".</p>


<!--
<div class="posts">
  {% for post in paginator.posts %}
  <article class="post">
    <h1 class="post-title">
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <time datetime="{{ post.date | date_to_xmlschema }}" class="post-date">{{ post.date | date_to_string }}</time>

    {{ post.content }}
  </article>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    <a class="pagination-item newer" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer</a>
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
-->
