<div class="row">
    <div class="col-lg-6 col-md-4 col-sm-12">
        <div id="vk_groups"></div>
    </div>
    <div class="col-lg-6 col-md-8 col-sm-12">
        <dl class="row info-list">
            <dt class="col-md-3 col-sm-12">Телефон</dt>
            <dd class="col-md-9 col-sm-12"><a href="tel:{{ site.owner.phone }}">{{ site.owner.phone }}</a></dd>
            <dt class="col-md-3 col-sm-12">E-mail</dt>
            <dd class="col-md-9 col-sm-12"><a href="emailto:{{ site.owner.email }}">{{ site.owner.email }}</a></dd>
            <dt class="col-md-3 col-sm-12">Адрес</dt>
            <dd class="col-md-9 col-sm-12">Татищева 64, г.&nbspЕкатеринбург</dd>
        </dl>
    </div>
</div>