<div class="bigstage">
    <canvas id="stage"></canvas>
    <div class="container stage-logo"></div>
</div>
<header class="container header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">

        <button class="navbar-toggler" type="button"
                data-toggle="collapse"
                data-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Переключить меню">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                {% for menuitem in site.data.menu %}
                <li class="nav-item">
                    <a class="nav-link {% if menuitem.url == page.url %}active{% endif %}"
                       href="{{ menuitem.url }}"
                       {% if menuitem.target %}target="{{ menuitem.target }}"{% endif %}>
                        {{ menuitem.title }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </nav>
</header>