.winter-season .header .ground {
  background: url(/public/img/header-snow.png) repeat-x center 0;
}

.winter-season .actor1 {
  background-image: url(/public/img/skier1.gif);
}

.winter-season .actor2 {
  background-image: url(/public/img/skier2.gif);
}

.winter-season .actor3 {
  background-image: url(/public/img/skier3.gif);
}

.winter-season .navbar {
  background-image: url(/public/img/navbar-snow.png) !important;
  background-color: rgb(243, 245, 255);
}

.winter-season .nav > li > a,
.winter-season .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
  color: rgb(121, 124, 143) !important;
}

.winter-season .navbar-inverse .navbar-nav>.open>a,
.winter-season .navbar-header .navbar-toggle:hover,
.winter-season .navbar-header .navbar-toggle:focus,
.winter-season .nav>li>a:hover,
.winter-season .nav>li>a:focus,
.winter-season .dropdown-menu>li>a:hover,
.winter-season .dropdown-menu>li>a:focus {
  background-color: rgba(190, 230, 235, 0.6) !important;
}

.winter-season .navbar-inverse .navbar-toggle {
  border-color: rgba(190, 230, 235, 0.7);
}

.winter-season .navbar-inverse .navbar-toggle .icon-bar {
  background-color: rgb(190, 230, 235) !important;
}
