body {

}

/** typography **/

/** other styles **/

.header
{
  position: relative;
  background: url(/public/img/header-bg.png) repeat-x center center;
  clear: both;
  height: 180px;
  width: 100%;
  overflow: hidden;
}

.header .nonplax-layer
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 180px;
}

.header .plax-layer
{
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: center 0;
    width: 100%;
    height: 180px;
}

.header .layer1
{
  background-image: url(/public/img/header-stones1.png);
}

.header .layer2
{
  background-image: url(/public/img/header-stones2.png);
}

.header .ground
{
  background: url(/public/img/header-grass.png) repeat-x center 0;
}

.actor1, .actor2, .actor3
{
  position: absolute;
  top: 149px;
  left: -42px;
  width: 42px;
  height: 30px;
  background: url(/public/img/cyclist1.gif) bottom no-repeat;
}

.actor2
{
  left: -136px;
  background-image: url(/public/img/cyclist2.gif);
}

.actor3
{
  left: -84px;
  background-image: url(/public/img/cyclist3.gif);
}

.content
{
  padding: 40px 15px;
}

.navbar
{
  border: none;
  border-radius: 0;
  background: rgb(127, 173, 113) url(/public/img/navbar-grass.png) 0 180px  repeat-x;
}

.nav > li > a, 
.navbar-inverse .navbar-nav .open .dropdown-menu>li>a
{
  color: rgb(255, 255, 255) !important;
}

.navbar .navbar-collapse
{
  border-color: rgba(0, 0, 0, 0.1);
}

.navbar-inverse .navbar-nav>.open>a,
.navbar-header .navbar-toggle:hover,
.navbar-header .navbar-toggle:focus,
.nav>li>a:hover,
.nav>li>a:focus,
.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus
{
  background-color: rgba(176, 228, 106, 0.6) !important;
}

.navbar-inverse .navbar-toggle
{
  border-color: rgba(255, 255, 255, 0.7);
}

.navbar .dropdown-menu
{
  background-color:  rgb(127, 173, 113);
  border-top: 0;
}


/** panel-custom **/

.bs-panel-custom
{
  position: relative;
  padding: 45px 15px 15px;
  margin: 0 -15px 15px;
  margin-right: 0;
  margin-left: 0;
  background-color: #fff;
  border-color: #ddd;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.bs-panel-custom:after
{
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 12px;
  font-weight: 700;
  color: #959595;
  text-transform: uppercase;
  letter-spacing: 1px;
  content: "";
}

.bs-panel-custom.vk:after
{
  content: "Я ВКонтакте";
}


/** footer **/

.bs-footer
{
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 100px;
  color: #777;
  text-align: center;
  border-top: 1px solid #e5e5e5;
}

.bs-social
{
  display: none;
  margin-bottom: 20px;
  text-align: center;
}

.bs-social .counters
{
  display: inline-block;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.bs-social .counters li
{
  display: inline-block;
  padding: 5px 8px;
  line-height: 1;
}


/** outfit **/
.section
{
  position: relative;
  min-width: 600px;
}

.img-container
{
  min-height: 900px;
}

.links
{
  padding: 2px;
  width: 100%;
  padding-right: 365px;
}

.links a
{
  float: left;
  display: inline-block;
  overflow: hidden;
  width: 50px;
  height: 60px;
  margin: 2px;
}

.links a.active
{
  outline: 4px solid #f57900;
}

.links  img
{
  width: 50px;
}

.img
{
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  overflow: hidden;
}

.img,
.img img
{
  width: 365px;
}


/** contacts **/

.contacts
{
  clear: both;
  width: 100%;
  margin-bottom: 10px;
}

.gmap-container
{
  clear: both;
  margin: 0px;
  padding: 0px;
  height: 0;
  overflow: hidden;
}

.gmap
{
  clear: both;
  margin: 0px;
  padding: 0px;
  height: 400px;
}


/** calculator **/

.calculator .cloth
{
  padding-top: 2rem !important;
}

.calculator label
{
  clear: both;
  float:left;
  height: 3rem;
  line-height: 3rem;
  text-align: right;
  font-weight: normal;
}

.calculator input,
.calculator select
{
  float: right;
  height: 3rem;
}


/** faq **/

.zero:before {
   content: '0. ';
   margin-left: -17px;
}

