---
layout: base
---

    {% include header.html %}

    <div class="container main-container">

        <section class="section">
            {{ content }}
        </section>

        <section class="section section-gmap">
            <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3AlcpsA3bpVeCvQLgq_9XrCL09GQ7M5DX3&amp;width=100%25&amp;height=320&amp;lang=ru_RU&amp;scroll=true"></script>
        </section>

        <section class="section section-info">
            {% include contacts.html %}
        </section>

    </div>

    {% include footer.html %}