<!DOCTYPE html>
<html lang="ru">

<!-- <head> -->
{% include head.html %}
<!-- </head> -->

<body>
<!-- <header> -->
  {% include header.html %}
<!-- </header> -->

<!-- <content> -->
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-9" role="main">
        <div class="section" id="section">
          {{ content }}
        </div>
        <div class="gmap-container">
          <div class="gmap" id="gmap"></div>
        </div>
      </div>
      <div class="col-md-3">
          <div id="vk_groups"></div>
      </div>
    </div>
  </div>
<!-- </content> -->

<!-- <footer> -->
  {% include footer.html %}
<!-- <footer> -->

<!-- scripts -->
{% include scripts.html %}

</body>
</html>
